<div *ngIf="user">
  <h2 mat-dialog-title>
    {{user.id ? 'EDIT' : 'CREATE'}} USER
  </h2>
  <hr>
  <mat-dialog-content>
    <form *ngIf="userForm" [formGroup]="userForm" fxLayout="column">
      <mat-input-container>
        <input autofocus="true" type="text"  matInput placeholder="Name"  formControlName="name"
        />
        <mat-error *ngIf="(userForm.get('name').touched || userForm.dirty) && userForm.get('name').errors?.required">
          <small class="error-message">User name is required</small>
        </mat-error>
      </mat-input-container>
      <mat-input-container>
        <input autofocus="true" type="text"  matInput placeholder="Favorite Color"    formControlName="color"
        />
        <mat-error *ngIf="(userForm.get('color').touched || userForm.dirty) && userForm.get('color').errors?.required">
          <small class="error-message">Favorite Color is required</small>
        </mat-error>
      </mat-input-container>
    </form>
    <strong>{{data | json}}</strong>
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions fxLayoutAlign="end end">
    <button mat-button mat-dialog-close>
      CANCEL
    </button>
    <button mat-raised-button color="primary" [disabled]="!userForm.valid" (click)="onConfirm()">
      {{ user.id !== undefined ? 'UPDATE' : 'CREATE' }}
    </button>
  </mat-dialog-actions>
</div>
