<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Getting Started</h1>
    <h2> Easily configure a datacontext for all the applicaion entities
      with only one service.</h2>
  </div>
</div>

<section class="getting-started">
  <div class="container">

  </div>
</section>
<section class="container">
  <h2>Installation</h2>
  <p>Install it with npm</p>
  <pre><code class="hljs">$ npm install --save ngx-datacontext</code></pre>
  <p>When using firebase database or firestore, install firebase
    dependencies
  </p>
  <pre><code class="hljs">$ npm install --save firebase angularfire2</code></pre>
</section>
<section class="container">
  <h2>Usage</h2>
  <p>Add <b>NgxDataModule</b> in the root module</p>
  <pre><code highlight [code]="importing"></code></pre>
  <p> <b>NOTE:</b> Firebase and Firestore should be registered as
    normal. <a href="https://github.com/angular/angularfire2/blob/master/docs/install-and-setup.md">Firebase Installation Guide</a></p>
</section>
<section class="container">
  <h3>Entities</h3>
  <p>To create an entity do the following things:</p>
  <p><b>Entity Decorator</b> Use the entity decorator to identify
    the entity and that will be used in the endpoints or list/collection
    from firebase</p>
  <pre><code class="hljs">@Entity('users')</code></pre>
  <p><b>Extend BaseEntity or FirebaseEntity</b></p>
  <pre><code>export class User extends FirebaseEntity </code></pre>
  <p><b>Attribute Decorator</b> Use the attribute decorator to identify
    the attributes to serialize</p>
  <pre><code>    @Attribute() firstName: string;</code></pre>
  <p><b>Example:</b></p>
  <pre><code highlight [code]="entity"></code></pre>
  <p> <b>NOTE:</b> Firebase and Firestore should be registered as
    normal. <a href="https://github.com/angular/angularfire2/blob/master/docs/install-and-setup.md">Firebase Installation Guide</a></p>
</section>
<section class="container">
  <h3>DataContext Service</h3>
  <p>Create a service that extends that DataContext. This service
    should contains the configuration of all the entities and
    services. </p>
  <pre><code highlight [code]="datacontext" [language]="typescript"></code></pre>
</section>