.firestore-container {
    background: #e9ecef;
    padding: 20px;
    p {
        margin-top: 5px;
    }
}
.posts {
    margin-top: 20px;
}
.post {
    margin-top: 20px;
}
.post-content {
    margin-left: 30px;
}
.comments {}
