* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font: 300 16px/1.4 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

margin-top-5 {
    margin-top: 5px;
}
margin-top-10 {
    margin-top: 10px;
}
margin-top-15 {
    margin-top: 15px;
}
margin-top-20 {
    margin-top: 20px;
}
