<div class="firebase-container">
  <p>
    Try the datacontext by adding, deleting,or updating a user</p>
  <button class="btn"
          (click)="addUser()">Add new user</button>
  <ng-template #loading>
    <ngb-progressbar type="success"></ngb-progressbar>
  </ng-template>
  <div class="user-list"
       *ngIf="users$ | async as users; else loading">
    <div *ngFor="let user of users"
         fxLayout="row"
         class="card user">
      <div class="card-header ">
        <p>Name - {{ user.firstName }} {{ user.lastName}}</p>
        <button *ngIf="users.length>1"
                class="btn"
                (click)="removeUser(user)">Delete
      </button>
        <button class="btn btn-secondary"
                (click)="editUser(user)">Edit</button>
      </div>

    </div>
    <div *ngIf="users.length===0">
      <p> No users found. Start by adding a user.</p>
    </div>
  </div>
</div>