<button mat-raised-button color="primary" (click)="addUser()">Add new user</button>
<h3 mat-subheader>Users</h3>
<mat-list class="user-list">
  <mat-list-item *ngIf="users$ | async as users; else loading">
    <div *ngFor="let user of users" fxLayout="row">
      <div>
        <h4 mat-line>Name - {{ user.name }}</h4>
        <p mat-line> Created On - {{ user.creation | date }}</p>
        <p mat-line> Favorite Color - {{user.color}}</p>
      </div>
      <div>
        <button mat-raised-button color="warn" (click)="removeUser(user)">Delete</button>
        <button mat-raised-button color="primary" (click)="editUser(user)">Edit</button>
      </div>
    </div>
    <div *ngIf="users.length===0">
      <p> No users found. Start by adding a user.</p>
    </div>
  </mat-list-item>

  <ng-template #loading>
    <mat-progress-bar [color]="primary" [mode]="indeterminate">
    </mat-progress-bar>
  </ng-template>
</mat-list>
